body {
    display: flex;
}

#sidebar {
    width: 140px;
    overflow: hidden;
}

button {
    outline: none;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

img {
    width: 24px;
}

.add-task-button {
    display: flex;
    align-items: center;
}

.hidden {
    visibility: hidden;
}


.removed {
    display: none;
}